*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: green;

}

nav h1{
    font-size: 44px;
    font-family: sans-serif;
    color: white;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17px;
}

nav ul li{
    list-style: none;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

main section:nth-child(1){
    width: 570px;
}

main section:nth-child(1) h1{
    color: green;
    font-family: sans-serif;
    font-size: 55px;
}

main section:nth-child(1){
    color: green;
    font-family: cursive;
    font-size: 15px;
    margin-top: 20px;
}

main section img{
    width: 800px;
    border-radius: 10px;
}
